
<!-- will need to link the images to the category partial -->
<div class="container">


<div class="grid-container">
  <div class="title">
  <%=image_tag("mainlogo.png")%>
  </div>

  <div class="aps">
    <%=image_tag("apps.png", size: "200x200")%>
  </div>
  <div class="diner">
    <%=image_tag("dinner.png", size: "200x200")%>
  </div>
  <div class="breakfast">
    <%=image_tag("breakfast.png", size: "200x200")%>
  </div>
  <div class="desert">
    <%=image_tag("dessert.png", size: "200x200")%>
  </div>
  <div class="drinks">
    <%=image_tag("drinks.png", size: "200x200")%>
  </div>
  <div class="mainlogo">
     <%=image_tag("design.png") %>
  </div>
</div>
</div>
