
<nav>
  <div id="nav-logo">
    <%= link_to root_path do %>
     <%=image_tag("sdlogo2.png", size: "50x50")%>
  <% end %>
 </div>
  <div class="category">
   <span> CATEGORIES </span>
   <div class="category-content">

     <% @categories.each do |category| %>
  <li> <%= link_to category.name, categorical_path(cat_id: category.id) %> </li>
  <% end %>



    <!-- <% @categories.each do |category| %>
      <li><%= link_to category.name, categorical_path(cat_id: category.id) %></li>
    <% end %> -->

   </div>
 </div>

  <div class="tags">
    <span> TAGS <i class="fa fa-hashtag" aria-hidden="true"></i></span>
    <div class="tags-content">
      <li>#healthy</li>
      <li>#veggie</li>
      <li>#yummy</li>
    </div>
  </div>
</nav>


<!--   ecommerce categories dropdown  -->

<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Find By Category
            <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
              <li>
                <%= link_to category.name, categorical_path(cat_id: category.id) %>
              </li>
            <% end %>
          </ul>
        </li> -->
